name: Run Tests & Linting

on: pull_request

jobs:
  test_and_lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@stable

      - name: Install rustfmt
        run: rustup component add rustfmt

      - name: Install clippy
        run: rustup component add clippy

      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2

      - name: Check Formatting
        run: cargo fmt --all --check

      - name: Test 
        run: cargo test --locked

      - name: Clippy
        run: cargo clippy --all-targets --all-features --locked --frozen
